form {
  margin-top: 5%;
}

textarea {
  border: none;
  border-bottom: 2px solid black;
  overflow: auto;
  outline: none;
  width: 100%;
  resize: none;
  background-color: #f4f1ec;
  font-weight: bolder;
}

#submitbtn {
  background-color: #00529c;
  color: white;
  font-family: 'Bungee', sans-serif;
  vertical-align: middle;
  display: inline-block;
}

.counter {
  padding: 0px;
  float: right;
}

.new-tweet-error {
  border: 5px dashed red;
  margin-top: 5%;
  text-align: center;
}